body {
    background-color: lightgray;
}

h1{
    color: blue;
    text-align: center;
}

.zvyrazni {
    color: red ;
    font-weight: bold; 
}

#specialny {
    color: green;
    font-size: 20px;
}

nav a {
    color: orange;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

h2, h3 {
    color:darkblue;
    font-family: Arial, sans-serif;
}